@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.workpage-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 20px;
    
  }
  
  .worktitle {
margin-left: 540px;
font-size: 40px;
font-family: 'Poppins', sans-serif;
font-style: bold;
font-weight: 600;
line-height: 96px;
color: #210EFC;


  }
  
  .worksubtitle {
    margin-left: 540px;
    font-family: 'Poppins';
font-style: 600;
font-weight: 500;
font-size: 26px;
line-height: 31px;


color: #FFFFFF;

  }
  
  .workform-container {
   
    height: 500px;
    width: 500px;
    padding: 40px;
    color: white;
    margin-left: 400px;
    background: rgba(255, 255, 255, 0.4);
box-shadow: -31px 22px 18px rgba(0, 0, 0, 0.25);
border-radius: 21px;
    
  }
  
  .workform {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .worklabel {
    font-size: 18px;
    margin-bottom: 10px;
    width: 99px;
    height: 20px;

/* Text sm/Medium */

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
margin-left: 20px;
/* identical to box height, or 143% */


color: #385192;
  }
  
  .workinput {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    

width: 480px;
height: 20px;
background: #FFFFFF;
border: 1px solid #D0D5DD;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
  }
  .workinput1{
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    

width: 480px;
height: 35px;
background: #FFFFFF;
border: 1px solid #D0D5DD;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;

  }
  .camera-icon{
    margin-left: 10px;
  }
  .image-input {
    width: 100%;
    margin-top: 10px;
  }
  
  .upload-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .upload-container input[type="file"] {
    display: none;
  }
  
  .upload-container i {
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .worksubmit {
    margin-left: 100px;
    
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 300px;
height: 38px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;


color: #FFFFFF;

background: #5E66DB;
border: 1px solid #5E66DB;
/* Shadow/xs */

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
  }
  .submmit{
 

  }
  