.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 209, 230);
  height: 100vh;

}
.intro {
  text-align: center;
  margin-bottom: 30px;
}

.intro h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.intro h3 {
  font-size: 1.2rem;
}

.leftSide {
  flex: 1;
  text-align: center;
}

.rightSide {
  flex: 1;
  max-width: 500px;
  margin: 10px 10px 70px 50px;
  padding: 20px;
  background-color: rgb(252, 252, 252);
  border: lightslategrey;
}


form {
  display: flex;
  flex-direction: column;
  
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #0066cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0052a3;
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
  }

  .leftSide {
    order: 2;
  }

 
}