.Home{
    z-index: 1;
    height:40rem;
    position: relative;
    top: -4rem;
    background: url("../Assets/Images/Rectangle1.svg") center center/cover no-repeat;
}

.Image{
    z-index: 2;
    position: relative;
    overflow-y: hidden;
width: 680px;
height: 566px;
left: 619px;
top: 87px;
}
.clients{
    font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 60px;
line-height: 90px;

display: flex;
align-items: center;
letter-spacing: 1.5px;
position: relative;
top: -30rem;
padding-left: 5rem;
color: rgb(255, 255, 255);
}
.Fleche{
    position: relative;
top: -35rem;
padding-left: 2rem;
}

.Empoyee{
    font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 90px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

color: #DB3F4B;
position: relative;
top: -49rem;
padding-left: 15rem;
}

.Intro{
    width: 490px;
    position: relative;
    top:-49rem;
    padding-left: 5rem;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
color: #A1A1AA;
}

.Catalogue{

    z-index: 1;
    position: relative;
    top: -3.8rem;
    height: 1800px;
    background: linear-gradient(0deg, rgba(15, 18, 51, 0.64), rgba(15, 18, 51, 0.64)), linear-gradient(89.99deg, rgba(184, 143, 209, 0.77) 0.01%, rgba(255, 255, 255, 0.77) 0.01%, rgba(15, 58, 169, 0.77) 99.99%);
}

.Catalogues{
    position: relative;
    top: 3rem;
    margin: auto;
    width: 80%;

  display: grid;  
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  row-gap: 0.2rem;
  justify-content: center;
}
.type{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 30px;
text-align: center;
color: #fff;
position: relative;
top: -6.5rem;
display: flex;
justify-content: center;
-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
overflow-y: hidden;
cursor: pointer;
text-decoration: none;
outline: none;
}
.type:hover{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    -webkit-transform: scale(1.5);
	transform: scale(1.5);
    overflow-y: hidden;
}

.Join{
    margin-top: 10rem;
    background: linear-gradient(270deg, rgba(44, 2, 70, 0.58) 0%, rgba(0, 0, 0, 0.58) 100%);
    height: 640px;
}

.card{
    cursor: pointer;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.card:hover{
    -webkit-transform: scale(1.09);
	transform: scale(1.09);
}