.grid-footer{
  display: grid;
  margin-left:2rem ;
    width: 90%;
  grid-template-columns: 40% repeat(3,20%);
  gap: 1rem;
  height: 100%;
}
.grid-footer-1{
    grid-row: 1/4;
    
}
.grid-footer-2{
    text-align: center;
    margin-left: -1rem ;
}
.grid-footer-3{
    text-align: center;
    margin-left: -1rem ;
}
.grid-footer-4{
    text-align: center;
    margin-left: -1rem ;
}

.logo11{  
    padding-top: 0.4rem;
    padding-left: 5rem ;
    height: auto;
    width: 7cm;
}
.description{
    width: 80%;
    height: 52px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #D7D7E3;
    padding-top: 0.4rem;
    padding-left: 3.5rem ;
}

.title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2563EB;
}
.details{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #D4D4D8;
    cursor: pointer;
}

.ligne1{
    margin: auto;
    width: 80%;
    height: 2px;
    background-color: #fff;
}
.Copy{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #71717A;
}

.copyright{
    margin-top: 1rem;
}